node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env*
dist

# vscode settings
.vscode/

# storybook build
storybook-static

# Local Meilisearch data
meili_data/

# Yarn 3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Image descriptions cache files
.cache/image-descriptions.json
# Used locally to import the dataset by batches
database/dataset_part_*.jsonl
